*{
    font-family: 'Inter', sans-serif;
}
body {
    align-self: auto;
    background-image: url('possibly\ last\ daily\ animal3.jpg');
background-position: center;
}
button {
    border-radius: 10px;
    background-color: white;
}
@keyframes spin {
    to {
      transform: rotateY(360deg);
    }
  }
  .spin {
    animation: spin 0.5s linear infinite;
    filter: blur(1.5rem);
  }
  .white{
    color: white;
  }
  h1{
    color: white;
  }